[submodule "extensions/ManulCBuild"]
	path = extensions/ManulCBuild
	url = git@github.com:Manul-C/ManulCBuild.git
[submodule "extensions/EmptyPlugin"]
	path = extensions/EmptyPlugin
	url = git@github.com:Manul-C/EmptyPlugin.git
