[submodule "extensions/ManulCBuild"]
	path = extensions/ManulCBuild
	url = git@github.com:Manul-C/ManulCBuild.git
[submodule "extensions/EmptyExt"]
	path = extensions/EmptyExt
	url = git@github.com:Manul-C/EmptyExt.git
